html, body{
  background-image: url(/assets/images/background.png);
  background-size: auto;
  min-height: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));

}


.container_imagem_fundo {
  height: 100%;
  width: 100%;

  position: absolute;
  top:0;
  left: 0;
  
}

.imagem_fundo {
  
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-image: url('../assets/images/background.png');
  position: absolute;

}

.container{
  background-color: red;
  height: 50vh;
  width: 50%;
  margin-bottom: 10px;
}







.botao {
  position: relative;
  background-color: #c9e265;
  border: none;
  font-size: 28px;
  height: 70px;
  margin-left: 30%;
  margin-right: 50%;
  color: black;
  font-weight: bold;
  
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botaovoltar {
  position: relative;
  background-color: #ff914d;
  border: none;
  height: 50px;
  font-size: 28px;
  margin-top: 5%;
  color: black;
  font-weight: bold;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botao:after,
.botaovoltar:after {
  content: "";
  background: #0a0a0a;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.botao:active:after,
.botaovoltar:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
