html, body{
  
  height: 100vh;
  width: 99vw;
  background-image: url('../assets/images/background.png');
  position: fixed;
  background-size: 100% 100%;
  display: contents;

}
.container{

  background-color: #8c52ff;
}

.logo {

padding-left: 15%;




}

img {
  max-width: 80%;
  max-height: 100%;
}


.menu_opcoes{

 max-width: 80%;
 margin-left: 15%;



}

.botao {
  position: relative;
  background-color: #c9e265;
  border: none;
  font-size: 80px;
  height: 125px;
  color: black;
  font-weight: bold;
  width: 90.5%;

  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botaoAjuda {
  position: relative;
  background-color: #f4729c;
  border: none;
  height: 100px;
  font-size: 60px;
 
  

  color: black;
  font-weight: bold;
  width: 400px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botaoOpcoes {
  position: relative;
  background-color: #cfc1ff;
  border: none;
  height: 100px;
  font-size: 60px;
 
  

  color: black;
  font-weight: bold;
  width: 400px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


.botaoPlacar {
  position: relative;
  background-color: #8c52ff;
  border: none;
  height: 100px;
  font-size: 60px;
 
  

  color: black;
  font-weight: bold;
  width: 400px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botaovoltar {
  position: relative;
  background-color: #ff914d;
  border: none;
  height: 100px;
  font-size: 60px;
 
  

  color: black;
  font-weight: bold;
  width: 400px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.botao:after,
.botaoAjuda:after,
.botaoOpcoes:after,
.botaoPlacar:after,
.botaovoltar:after {
  content: "";
  background: #0a0a0a;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.botao:active:after,
.botaoAjuda:active:after,
.botaoOpcoes:active:after,
.botaoPlacar:active:after,
.botaovoltar:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
